#header{
    background-color: lightblue;
        text-align: center;
        padding: 10px;
        font-size: 25px;
}

.topnav {
    padding: 5px;
    background-color: #333;
  }

.topnav :hover {
    background-color: white;
    color: black;
  }

.column {
   
    float: left;
    width: 45%;
    padding: 10px;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 1px;
    cursor: pointer;
  }

  .datumMaand, .datumJaar{
      width: 50%;  
      display: inline-block;
      
  }

 

  

  